Schema reges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.inspectiamuncii.ro/reges2025" xmlns="reges"
    xmlns:reges="http://www.inspectiamuncii.ro/reges2025">
    <xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageType">
        <xs:annotation>
            <xs:documentation>Tip mesaj</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Greseala"/>
            <xs:enumeration value="AdaugareContract"/>
            <xs:enumeration value="ModificareContract"/>
            <xs:enumeration value="CorectieContract"/>
            <xs:enumeration value="RadiereContract"/>
            <xs:enumeration value="RevalidareContract"/>
            <xs:enumeration value="IncetareContract"/>
            <xs:enumeration value="ReactivareContract"/>
            <xs:enumeration value="CorectieIncetareContract"/>
            <xs:enumeration value="AnulareIncetareContract"/>
            <xs:enumeration value="SuspendareContract"/>
            <xs:enumeration value="CorectieSuspendareContract"/>
            <xs:enumeration value="ModificareSuspendareContract"/>
            <xs:enumeration value="IncetareSuspendareContract"/>
            <xs:enumeration value="AnulareSuspendareContract"/>
            <xs:enumeration value="DetasareContract"/>
            <xs:enumeration value="CorectieDetasareContract"/>
            <xs:enumeration value="AnulareDetasareContract"/>
            <xs:enumeration value="IncetareDetasareContract"/>
            <xs:enumeration value="TransferContract"/>
            <xs:enumeration value="AnulareTransferContract"/>
            <xs:enumeration value="SchimbareLocMuncaContract"/>
            <xs:enumeration value="AnulareSchimbareLocMuncaContract"/>
            <xs:enumeration value="SchimbareGestiuneRegistruContract"/>
            <xs:enumeration value="AnulareSchimbareGestiuneRegistruContract"/>
            <xs:enumeration value="ModificareDetasareContract"/>
            <xs:enumeration value="CorectieReactivareContract"/>
            <xs:enumeration value="AnulareReactivareContract"/>
            <xs:enumeration value="RadiereContract"/>
            <xs:enumeration value="InregistrareSalariat"/>
            <xs:enumeration value="ModificareSalariat"/>
            <xs:enumeration value="CorectieSalariat"/>
            <xs:enumeration value="RadiereSalariat"/>
            <xs:enumeration value="InregistrareAngajator"/>
            <xs:enumeration value="ModificareAngajator"/>
            <xs:enumeration value="CorectieAngajator"/>
            <xs:enumeration value="RadiereAngajator"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="MessageId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientApplication" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Version" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Operation" type="reges:MessageType"/>
            <xs:element maxOccurs="1" minOccurs="1" name="AuthorId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="User" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Timestamp" type="xs:dateTime"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MessageResponse">
        <xs:annotation>
            <xs:documentation>Mesaj de raspuns trimis sincron la receptia unui mesaj de tip Message. GUID-ul din campul ResponseId este recipisa de incarcare a mesajului, dovada ca acesta a fost receptionat cu succes si ransmis spre procesare</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="ResponseId" type="reges:GUID"/>
                </xs:sequence>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MessageResponse" type="reges:MessageResponse"/>
    <xs:simpleType name="ResultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCES"></xs:enumeration>
            <xs:enumeration value="FAIL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Result">
        <xs:sequence>
            <xs:element name="Code" type="reges:ResultCode" minOccurs="1" maxOccurs="1">
            </xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="Ref" type="reges:GUID" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageResult">
        <xs:annotation>
            <xs:documentation>Mesaj trimis asincron catre aplicatia client, pentru a semnaliza ca un mesaj a fost procesat cu un anumit cod de succes sau eroare</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="reges:MessageResponse">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Result" type="reges:Result"/>                    
                </xs:sequence>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MessageResult" type="reges:MessageResult"/>
    <xs:complexType name="Notification">
        <xs:annotation>
            <xs:documentation>Mesaj trimis asincron catre aplicatia client, pentru a semnaliza o notificare</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="NotificationId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientApplication" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Version" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Type" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Description" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MessageId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Timestamp" type="xs:dateTime"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Notification" type="reges:Notification"/>
    <xs:complexType name="Angajator">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Adresa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Contact" nillable="true" type="reges:Contact"/>
                    <xs:element minOccurs="1" name="Detalii" type="reges:DetaliiAngajator"/>
                    <xs:element minOccurs="1" name="Localitate" type="reges:Localitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Angajator" type="reges:Angajator"></xs:element>
    <xs:complexType name="Contact">
        <xs:sequence>
            <xs:element minOccurs="0" name="Email" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Fax" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ReprezentantLegal" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Telefon" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomeniuActivitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="Cod">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormaJuridicaPJ">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SocietateComerciala"/>
            <xs:enumeration value="RegieAutonoma"/>
            <xs:enumeration value="CompanieNationala"/>
            <xs:enumeration value="SocietateNationala"/>
            <xs:enumeration value="AutoritateInstitutiePublica"/>
            <xs:enumeration value="InstitutieDeCredit"/>
            <xs:enumeration value="SocietateCooperativa"/>
            <xs:enumeration value="OrganizatieSindicala"/>
            <xs:enumeration value="Fundatie"/>
            <xs:enumeration value="AltePersoaneJuridice"/>
            <xs:enumeration value="OrganizatiePatronala"/>
            <xs:enumeration value="OrganizatieAsociatieCuPersonalitateJuridica"/>
            <xs:enumeration value="ReprezentantaDinRomaniaPentruPJStraina"/>
            <xs:enumeration value="InstitutCulturalAlUnuiStat"/>
            <xs:enumeration value="ReprezentantaComercialaSiEconomicaAleAltuiStat"/>
            <xs:enumeration value="MisiuneDiplomatica"/>
            <xs:enumeration value="OficiuConsular"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaOrganizarePJ">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Agricola"/>
            <xs:enumeration value="AlteInstitutiiDeCredit"/>
            <xs:enumeration value="AlteOrganizatiiPatronale"/>
            <xs:enumeration value="AlteOrganizatiiSauAsociatiiCuPersonalitateJuridica"/>
            <xs:enumeration value="AsociatieDeProprietari"/>
            <xs:enumeration value="Banca"/>
            <xs:enumeration value="CaseDeEconomiiPentruDomeniulLocativ"/>
            <xs:enumeration value="ConfederatieSindicala"/>
            <xs:enumeration value="DeConsum"/>
            <xs:enumeration value="DeLocuinte"/>
            <xs:enumeration value="DeTransporturi"/>
            <xs:enumeration value="DeValorificare"/>
            <xs:enumeration value="Federatiepatronala"/>
            <xs:enumeration value="Federatiesindicala"/>
            <xs:enumeration value="Forestiere"/>
            <xs:enumeration value="InstitutiiEmitenteDeMonedaElectronica"/>
            <xs:enumeration value="Mestesugareasca"/>
            <xs:enumeration value="OrganizatieCooperatistaDeCredit"/>
            <xs:enumeration value="OrganizatieSauAsociatieProfesionala"/>
            <xs:enumeration value="Patronat"/>
            <xs:enumeration value="Pescaresti"/>
            <xs:enumeration value="Sindicat"/>
            <xs:enumeration value="SocietateCuRaspundereLimitata"/>
            <xs:enumeration value="SocietateCuRaspundereLimitataDebutant"/>
            <xs:enumeration value="SocietateInComanditaPeActiuni"/>
            <xs:enumeration value="SocietateInComanditaSimpla"/>
            <xs:enumeration value="SocietateInNumeColectiv"/>
            <xs:enumeration value="SocietatePeActiuni"/>
            <xs:enumeration value="Sucursalaauneiinstitutiidecreditstraina"/>
            <xs:enumeration value="UniunePatronala"/>
            <xs:enumeration value="UniuneSindicala"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaProprietate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Stat"/>
            <xs:enumeration value="Privata"/>
            <xs:enumeration value="Mixta"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NivelInfiintare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SediuSocial"/>
            <xs:enumeration value="Filiala"/>
            <xs:enumeration value="Sucursala"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActIdentitatePF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cnp"/>
            <xs:enumeration value="CnpCif"/>
            <xs:enumeration value="Pasaport"/>
            <xs:enumeration value="PasaportCif"/>
            <xs:enumeration value="PasaportActIdentitate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaJuridicaPF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PF"/>
            <xs:enumeration value="PFA"/>
            <xs:enumeration value="IF"/>
            <xs:enumeration value="ProfesieSpeciala"/>
            <xs:enumeration value="IPF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaOrganizarePF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Arhitect"/>
            <xs:enumeration value="AsistentMedical"/>
            <xs:enumeration value="AuditorFinanciar"/>
            <xs:enumeration value="Avocat"/>
            <xs:enumeration value="ConsilierProprietateIndustriala"/>
            <xs:enumeration value="ConsultantFiscal"/>
            <xs:enumeration value="ExecutorJudecatoresc"/>
            <xs:enumeration value="ExpertContabil"/>
            <xs:enumeration value="ExpertVamal"/>
            <xs:enumeration value="Farmacist"/>
            <xs:enumeration value="Medic"/>
            <xs:enumeration value="MedicVeterinar"/>
            <xs:enumeration value="NotarPublic"/>
            <xs:enumeration value="Psiholog"/>
            <xs:enumeration value="TraducatorAutorizat"/>
            <xs:enumeration value="LichidatorJudiciar"/>
            <xs:enumeration value="AltePersoaneFizice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Nationalitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Localitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="CodSiruta" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajator">
        <xs:sequence>
            <xs:element minOccurs="0" name="DomeniuActivitate" nillable="true"
                type="reges:DomeniuActivitate"/>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajatorPersoanaJuridica">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:DetaliiAngajator">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Cui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CuiParinte" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="FormaJuridicaPJ" type="reges:FormaJuridicaPJ"/>
                    <xs:element minOccurs="0" name="FormaOrganizarePJ" nillable="true"
                        type="reges:FormaOrganizarePJ"/>
                    <xs:element minOccurs="0" name="FormaProprietate" nillable="true"
                        type="reges:FormaProprietate"/>
                    <xs:element minOccurs="0" name="NivelInfiintare" nillable="true"
                        type="reges:NivelInfiintare"/>
                    <xs:element minOccurs="0" name="NumeParinte" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajatorPersoanaFizica">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:DetaliiAngajator">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ActIdentitatePF" type="reges:ActIdentitatePF"/>
                    <xs:element minOccurs="1" name="Cnp">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="FormaJuridicaPF" type="reges:FormaJuridicaPF"/>
                    <xs:element minOccurs="0" name="FormaOrganizarePF" nillable="true"
                        type="reges:FormaOrganizarePF"/>
                    <xs:element minOccurs="1" name="Nationalitate" type="reges:Nationalitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Salariat">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Adresa">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Apatrid" nillable="true" type="reges:Apatrid"/>
                    <xs:element minOccurs="1" name="Cnp">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CnpVechi" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DetaliiSalariatStrain" nillable="true"
                        type="reges:DetaliiSalariatStrain"/>
                    <xs:element minOccurs="0" name="Localitate" nillable="true" type="reges:Localitate"/>
                    <xs:element minOccurs="0" name="Mentiuni" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Nationalitate" nillable="true"
                        type="reges:Nationalitate"/>
                    <xs:element minOccurs="1" name="Nume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="Prenume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TaraDomiciliu" type="reges:Nationalitate"/>
                    <xs:element minOccurs="1" name="TipActIdentitate" type="reges:TipActIdentitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Salariat" type="reges:Salariat"></xs:element>
    <xs:simpleType name="Apatrid">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FaraDreptDeSedereInUe"/>
            <xs:enumeration value="CuDreptDeSedereInUe"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipAutorizatie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LucratoriPermanenti"/>
            <xs:enumeration value="Exceptie"/>
            <xs:enumeration value="LucratoriSezonieri"/>
            <xs:enumeration value="LucratoriStagiari"/>
            <xs:enumeration value="Sportivi"/>
            <xs:enumeration value="Nominala"/>
            <xs:enumeration value="LucratoriTransfrontalieri"/>
            <xs:enumeration value="LucratorInaltCalificat"/>
            <xs:enumeration value="LucratoriAuPair"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipActIdentitate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CarteIdentitate"/>
            <xs:enumeration value="Pasaport"/>
            <xs:enumeration value="BuletinIdentitate"/>
            <xs:enumeration value="Alt"/>
            <xs:enumeration value="CarteDeRezidenta"/>
            <xs:enumeration value="PermisDeSedere"/>
            <xs:enumeration value="AltActIdentitateRomanesc"/>
            <xs:enumeration value="AltApatridTolerat"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contract">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element name="Actiune" type="reges:Actiune" minOccurs="0"/>
                    <xs:choice>
                        <xs:element name="Continut" type="reges:Continut"/>
                        <xs:element name="ContractRef" type="reges:GUID"/>                
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Contract" type="reges:Contract"></xs:element>
    <xs:complexType name="Continut">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Salariat" type="reges:Salariat"></xs:element>
                <xs:element name="SalariatRef" type="reges:GUID"></xs:element>
            </xs:choice>
            <xs:element minOccurs="1" name="Cor" type="reges:Cor"/>
            <xs:element minOccurs="1" name="DataConsemnare" type="xs:dateTime"/>
            <xs:element minOccurs="1" name="DataContract" type="xs:dateTime"/>
            <xs:element minOccurs="1" name="DataInceputContract" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DataSfarsitContract" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DateContractVechi" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Detalii" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DetaliiMutare" nillable="true"
                type="reges:ContractMutareDetalii"/>
            <xs:element minOccurs="0" name="ExceptieDataSfarsit" nillable="true"
                type="reges:ExceptieDataSfarsit"/>
            <xs:element minOccurs="1" name="NumarContract">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="NumereContractVechi" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="Radiat" type="xs:boolean"/>
            <xs:element minOccurs="1" name="Salariu" type="xs:int"/>
            <xs:element minOccurs="0" name="SporuriSalariu" nillable="true" type="reges:ArrayOfSpor"/>
            <xs:element minOccurs="1" name="StareCurenta" type="reges:Actiune"/>
            <xs:element minOccurs="1" name="TimpMunca" type="reges:TimpMunca"/>
            <xs:element minOccurs="1" name="TipContract" type="reges:TipContract"/>
            <xs:element minOccurs="1" name="TipDurata" type="reges:TipDurata"/>
            <xs:element minOccurs="1" name="TipNorma" type="reges:TipNorma"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Cor">
        <xs:sequence>
            <xs:element minOccurs="1" name="Cod" type="xs:int"/>
            <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TipMutare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Transfer"/>
            <xs:enumeration value="SchimbareLocMunca"/>
            <xs:enumeration value="SchimbareGestiuneRegistru"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExceptieDataSfarsit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art83LitA"/>
            <xs:enumeration value="Art83LitE"/>
            <xs:enumeration value="Art83LitH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TipSpor">
        <xs:sequence>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipSporAngajator">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:TipSpor">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TipSporPredefinit">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:TipSpor">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="TemeiIncetare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art55LitB"/>
            <xs:enumeration value="Art56Alin1LitA"/>
            <xs:enumeration value="Art56Alin1LitB"/>
            <xs:enumeration value="Art56Alin1LitC"/>
            <xs:enumeration value="Art56Alin1LitD"/>
            <xs:enumeration value="Art56Alin1LitE"/>
            <xs:enumeration value="Art56Alin1LitF"/>
            <xs:enumeration value="Art56Alin1LitG"/>
            <xs:enumeration value="Art56Alin1LitH"/>
            <xs:enumeration value="Art56Alin1LitI"/>
            <xs:enumeration value="Art56Alin1LitJ"/>
            <xs:enumeration value="Art61LitA"/>
            <xs:enumeration value="Art61LitB"/>
            <xs:enumeration value="Art61LitC"/>
            <xs:enumeration value="Art61LitD"/>
            <xs:enumeration value="Art65Alin1"/>
            <xs:enumeration value="Art68"/>
            <xs:enumeration value="Art81Alin1"/>
            <xs:enumeration value="Art81Alin7"/>
            <xs:enumeration value="Art81Alin8"/>
            <xs:enumeration value="Art31Alin3"/>
            <xs:enumeration value="HJ"/>
            <xs:enumeration value="NulitateContract"/>
            <xs:enumeration value="AltTemei"/>
            <xs:enumeration value="Art50LitH"/>
            <xs:enumeration value="Art95Alin4"/>
            <xs:enumeration value="L448Art39Alin4"/>
            <xs:enumeration value="Art80Alin3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TemeiSuspendare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art54"/>
            <xs:enumeration value="Art50LiteraD"/>
            <xs:enumeration value="Art50LiteraE"/>
            <xs:enumeration value="Art50LiteraF"/>
            <xs:enumeration value="Art50LiteraG"/>
            <xs:enumeration value="Art50LiteraH"/>
            <xs:enumeration value="Art50LiteraI"/>
            <xs:enumeration value="Art51Alin1LiteraA"/>
            <xs:enumeration value="Art51Alin1LiteraB"/>
            <xs:enumeration value="Art51Alin1LiteraC"/>
            <xs:enumeration value="Art51Alin1LiteraD"/>
            <xs:enumeration value="Art51Alin1LiteraE"/>
            <xs:enumeration value="Art51Alin1LiteraF"/>
            <xs:enumeration value="Art51Alin2"/>
            <xs:enumeration value="Art52Alin1LiteraA"/>
            <xs:enumeration value="Art52Alin1LiteraB"/>
            <xs:enumeration value="Art52Alin1LiteraC"/>
            <xs:enumeration value="Art52Alin1LiteraD"/>
            <xs:enumeration value="Art52Alin1LiteraE"/>
            <xs:enumeration value="Art52Alin3"/>
            <xs:enumeration value="Art6Alin1"/>
            <xs:enumeration value="Art52Alin1LiteraC1"/>
            <xs:enumeration value="Art50LiteraC"/>
            <xs:enumeration value="Art51Alin1LiteraG"/>
            <xs:enumeration value="Art11Alin2"/>
            <xs:enumeration value="Art31Alin1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TemeiReactivare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Reintegrare"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimpMunca">
        <xs:sequence>
            <xs:element minOccurs="0" name="Durata" nillable="true" type="xs:double"/>
            <xs:element minOccurs="0" name="IntervalTimp" nillable="true"
                type="reges:RepartizareIntervalTimp"/>
            <xs:element minOccurs="1" name="Norma" type="reges:NormaTimpMunca"/>
            <xs:element minOccurs="1" name="Repartizare" type="reges:RepartizareTimpMunca"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RepartizareIntervalTimp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OrePeZi"/>
            <xs:enumeration value="OrePeSaptamana"/>
            <xs:enumeration value="OrePeLuna"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NormaTimpMunca">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NormaIntreaga840"/>
            <xs:enumeration value="NormaIntreaga630"/>
            <xs:enumeration value="NormaIntreagaLegiSpeciale"/>
            <xs:enumeration value="TimpPartial"/>
            <xs:enumeration value="TimpOUG132"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepartizareTimpMunca">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OreDeZi"/>
            <xs:enumeration value="OreDeNoapte"/>
            <xs:enumeration value="Inegal"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipContract">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ContractIndividualMunca"/>
            <xs:enumeration value="ContractUcenicie"/>
            <xs:enumeration value="ContractMuncaLaDomiciliu"/>
            <xs:enumeration value="ContractMuncaTemporara"/>
            <xs:enumeration value="ContractIndividualMuncaTineriDezavantajati"/>
            <xs:enumeration value="ContractIndividualMuncaClauzaTelemunca"/>
            <xs:enumeration value="ContractMuncaTemporaraClauzaTelemunca"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipDurata">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Nedeterminata"/>
            <xs:enumeration value="Determinata"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipNorma">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NormaIntreaga"/>
            <xs:enumeration value="TimpPartial"/>
            <xs:enumeration value="NormaOUG132"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContractMutareDetalii">
        <xs:sequence>
            <xs:element minOccurs="1" name="AngajatorSursaCui">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="AngajatorSursaDenumire">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="DataImport" type="xs:dateTime"/>
            <xs:element minOccurs="1" name="TipMutare" type="reges:TipMutare"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfSpor">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Spor" type="reges:Spor"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Spor">
        <xs:sequence>
            <xs:element minOccurs="0" name="IsProcent" type="xs:boolean"/>
            <xs:element minOccurs="1" name="Tip" type="reges:TipSpor"/>
            <xs:element minOccurs="1" name="Valoare" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Actiune">
        <xs:sequence>
            <xs:element minOccurs="0" name="DataIncetareDetasare" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DataIncetareSuspendare" nillable="true"
                type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActiuneMutare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="AngajatorCui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="AngajatorNume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DataMutare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="TemeiLegal" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TipMutare" type="reges:TipMutare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneReactivare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:ActiuneActiv">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataReactivare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiReactivare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneActiv">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneSuspendare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataInceput" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataIncetare" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataSfarsit" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiSuspendare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneIncetare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataIncetare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiIncetare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneDetasare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="AngajatorCui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="AngajatorNume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DataInceput" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataIncetare" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="DataSfarsit" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="Nationalitate" type="reges:Nationalitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DetaliiSalariatStrain">
        <xs:sequence>
            <xs:element minOccurs="0" name="DataInceputAutorizatie" nillable="true"
                type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DataSfarsitAutorizatie" nillable="true"
                type="xs:dateTime"/>
            <xs:element minOccurs="1" name="TipAutorizatie" type="reges:TipAutorizatie"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Message">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Header" type="reges:Header"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Message" type="reges:Message"/>

    <xs:complexType name="Batch">
        <xs:choice>
            <xs:element type="reges:Message" name="Message" maxOccurs="unbounded"/>
            <xs:element type="reges:MessageResponse" name="MessageResponse" maxOccurs="unbounded"/>
            <xs:element type="reges:MessageResult" name="MessageResult" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="Batch" type="reges:Batch"/>
</xs:schema>
