Schema reges.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.inspectiamuncii.ro/reges2025" xmlns="reges"
    xmlns:reges="http://www.inspectiamuncii.ro/reges2025">
    <xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageType">
        <xs:annotation>
            <xs:documentation>Tip mesaj</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Greseala"/>
            <xs:enumeration value="AdaugareContract"/>
            <xs:enumeration value="ModificareContract"/>
            <xs:enumeration value="CorectieContract"/>
            <xs:enumeration value="RadiereContract"/>
            <xs:enumeration value="RevalidareContract"/>
            <xs:enumeration value="IncetareContract"/>
            <xs:enumeration value="ReactivareContract"/>
            <xs:enumeration value="CorectieIncetareContract"/>
            <xs:enumeration value="AnulareIncetareContract"/>
            <xs:enumeration value="SuspendareContract"/>
            <xs:enumeration value="CorectieSuspendareContract"/>
            <xs:enumeration value="ModificareSuspendareContract"/>
            <xs:enumeration value="IncetareSuspendareContract"/>
            <xs:enumeration value="CorectieIncetareSuspendareContract"/>
            <xs:enumeration value="AnulareSuspendareContract"/>
            <xs:enumeration value="PropunereDetasareContract"/>
            <xs:enumeration value="AcceptarePropunereDetasareContract"/>
            <xs:enumeration value="RespingerePropunereDetasareContract"/>
            <xs:enumeration value="PropunereMutareContract"/>
            <xs:enumeration value="AcceptarePropunereMutareContract"/>
            <xs:enumeration value="RespingerePropunereMutareContract"/>
            <xs:enumeration value="DetasareContract"/>
            <xs:enumeration value="CorectieDetasareContract"/>
            <xs:enumeration value="PrelungireDetasareContract"/>
            <xs:enumeration value="AnulareDetasareContract"/>
            <xs:enumeration value="IncetareDetasareContract"/>
            <xs:enumeration value="AnulareIncetareDetasareContract"/>
            <xs:enumeration value="CorectieIncetareDetasareContract"/>
            <xs:enumeration value="TransferContract"/>
            <xs:enumeration value="AnulareTransferContract"/>
            <xs:enumeration value="SchimbareLocMuncaContract"/>
            <xs:enumeration value="AnulareSchimbareLocMuncaContract"/>
            <xs:enumeration value="SchimbareGestiuneRegistruContract"/>
            <xs:enumeration value="AnulareSchimbareGestiuneRegistruContract"/>
            <xs:enumeration value="ModificareDetasareContract"/>
            <xs:enumeration value="CorectieReactivareContract"/>
            <xs:enumeration value="AnulareReactivareContract"/>
            <xs:enumeration value="RadiereContract"/>
            <xs:enumeration value="InregistrareSalariat"/>
            <xs:enumeration value="ModificareSalariat"/>
            <xs:enumeration value="CorectieSalariat"/>
            <xs:enumeration value="RadiereSalariat"/>
            <xs:enumeration value="InregistrareAngajator"/>
            <xs:enumeration value="ModificareAngajator"/>
            <xs:enumeration value="CorectieAngajator"/>
            <xs:enumeration value="RadiereAngajator"/>
            <xs:enumeration value="CerereAccesRegistru"/>
            <xs:enumeration value="CerereAccesCont"/>
            <xs:enumeration value="CerereDelegareAccesRegistru"/>
            <xs:enumeration value="CerereExtrasRegistru"/>
            <xs:enumeration value="CerereAdeverintaVechime"/>
            <xs:enumeration value="CerereAccesSistemRegistru"/>
            <xs:enumeration value="CorectieIstoricContract"/>
            <xs:enumeration value="IncetareAccesRegistru"/>
            <xs:enumeration value="RadiereIstoricContract"/>
            <xs:enumeration value="ExportSalariati"/>
            <xs:enumeration value="DeblocareReges1Readonly"/>
            <xs:enumeration value="DeblocareAPIKeyReadonly"/>
            <xs:enumeration value="AdaugareModificareInIstoricContract"/>
            <xs:enumeration value="AdaugareSuspendareInIstoricContract"/>
          <xs:enumeration value="ExportContracte"/>
            <xs:enumeration value="PreluareRegistru"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header">
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="MessageId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientApplication" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Version" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Operation" type="reges:MessageType"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthorId" type="reges:GUID">
                <xs:annotation>
                    <xs:documentation>Identificator unic in baza de date REGES al unei societati, asociat unui CIF</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="1" name="SessionId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="User" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UserId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Timestamp" type="xs:dateTime"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MessageResponse">
        <xs:annotation>
            <xs:documentation>Mesaj de raspuns trimis sincron la receptia unui mesaj de tip Message. GUID-ul din campul ResponseId este recipisa de incarcare a mesajului, dovada ca acesta a fost receptionat cu succes si ransmis spre procesare</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="ResponseId" type="reges:GUID"/>
                </xs:sequence>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MessageResponse" type="reges:MessageResponse"/>
    <xs:simpleType name="ResultCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCES"></xs:enumeration>
            <xs:enumeration value="FAIL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResultCodeType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="SUCCES"></xs:enumeration>
        <xs:enumeration value="WARNING"></xs:enumeration>
        <xs:enumeration value="ERROR"></xs:enumeration>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResultSign">
      <xs:restriction base="xs:string">
        <xs:enumeration value="GrinningFace"/><!-- ðŸ˜€ U+1F600 -->
        <xs:enumeration value="BeamingFace"/><!-- ðŸ˜ U+1F601 -->
        <xs:enumeration value="FaceWithTearsOfJoy"/><!-- ðŸ˜‚ U+1F602 -->
        <xs:enumeration value="RollingOnTheFloorLaughing"/><!-- ðŸ¤£ U+1F923 -->
        <xs:enumeration value="SmilingFaceWithOpenMouth"/><!-- ðŸ˜ƒ U+1F603 -->
        <xs:enumeration value="SmilingFaceWithSmilingEyes"/><!-- ðŸ˜„ U+1F604 -->
        <xs:enumeration value="SmilingFaceWithHalo"/><!-- ðŸ˜‡ U+1F607 -->
        <xs:enumeration value="WinkingFace"/><!-- ðŸ˜‰ U+1F609 -->
        <xs:enumeration value="SmilingFaceWithHeartEyes"/><!-- ðŸ˜ U+1F60D -->
        <xs:enumeration value="FaceBlowingAKiss"/><!-- ðŸ˜˜ U+1F618 -->
        <xs:enumeration value="KissingFace"/><!-- ðŸ˜— U+1F617 -->
        <xs:enumeration value="ThinkingFace"/><!-- ðŸ¤” U+1F914 -->
        <xs:enumeration value="FaceWithRaisedEyebrow"/><!-- ðŸ¤¨ U+1F928 -->
        <xs:enumeration value="NeutralFace"/><!-- ðŸ˜ U+1F610 -->
        <xs:enumeration value="ExpressionlessFace"/><!-- ðŸ˜‘ U+1F611 -->
        <xs:enumeration value="FaceWithoutMouth"/><!-- ðŸ˜¶ U+1F636 -->
        <xs:enumeration value="SmirkingFace"/><!-- ðŸ˜ U+1F60F -->
        <xs:enumeration value="PerseveringFace"/><!-- ðŸ˜£ U+1F623 -->
        <xs:enumeration value="DisappointedFace"/><!-- ðŸ˜ž U+1F61E -->
        <xs:enumeration value="PensiveFace"/><!-- ðŸ˜” U+1F614 -->
        <xs:enumeration value="SleepingFace"/><!-- ðŸ˜´ U+1F634 -->
        <xs:enumeration value="FaceWithSteamFromNose"/><!-- ðŸ˜¤ U+1F624 -->
        <xs:enumeration value="AngryFace"/><!-- ðŸ˜  U+1F620 -->
        <xs:enumeration value="PoutingFace"/><!-- ðŸ˜¡ U+1F621 -->
        <xs:enumeration value="CryingFace"/><!-- ðŸ˜¢ U+1F622 -->
        <xs:enumeration value="LoudlyCryingFace"/><!-- ðŸ˜­ U+1F62D -->
        <xs:enumeration value="FaceScreamingInFear"/><!-- ðŸ˜± U+1F631 -->
        <xs:enumeration value="FlushedFace"/><!-- ðŸ˜³ U+1F633 -->
        <xs:enumeration value="FaceWithMedicalMask"/><!-- ðŸ˜· U+1F637 -->
        <xs:enumeration value="FaceWithThermometer"/><!-- ðŸ¤’ U+1F912 -->
        <xs:enumeration value="FaceWithHeadBandage"/><!-- ðŸ¤• U+1F915 -->
        <xs:enumeration value="NauseatedFace"/><!-- ðŸ¤¢ U+1F922 -->
        <xs:enumeration value="FaceVomiting"/><!-- ðŸ¤® U+1F92E -->
        <xs:enumeration value="ExplodingHead"/><!-- ðŸ¤¯ U+1F92F -->
        <xs:enumeration value="CowboyHatFace"/><!-- ðŸ¤  U+1F920 -->
        <xs:enumeration value="ClownFace"/><!-- ðŸ¤¡ U+1F921 -->
        <xs:enumeration value="RobotFace"/><!-- ðŸ¤– U+1F916 -->
        <xs:enumeration value="PileOfPoo"/><!-- ðŸ’© U+1F4A9 -->
        <xs:enumeration value="Ghost"/><!-- ðŸ‘» U+1F47B -->
        <xs:enumeration value="Skull"/><!-- ðŸ’€ U+1F480 -->
        <xs:enumeration value="SkullAndCrossbones"/><!-- â˜ ï¸ U+2620 -->
        <xs:enumeration value="RedHeart"/><!-- â¤ï¸ U+2764 -->
        <xs:enumeration value="OrangeHeart"/><!-- ðŸ§¡ U+1F9E1 -->
        <xs:enumeration value="YellowHeart"/><!-- ðŸ’› U+1F49B -->
        <xs:enumeration value="GreenHeart"/><!-- ðŸ’š U+1F49A -->
        <xs:enumeration value="BlueHeart"/><!-- ðŸ’™ U+1F499 -->
        <xs:enumeration value="PurpleHeart"/><!-- ðŸ’œ U+1F49C -->
        <xs:enumeration value="BlackHeart"/><!-- ðŸ–¤ U+1F5A4 -->
        <xs:enumeration value="BrokenHeart"/><!-- ðŸ’” U+1F494 -->
        <xs:enumeration value="Fire"/><!-- ðŸ”¥ U+1F525 -->
        <xs:enumeration value="HundredPoints"/><!-- ðŸ’¯ U+1F4AF -->
        <xs:enumeration value="SmilingFaceWithSunglasses"/><!-- ðŸ˜Ž U+1F60E -->
        <xs:enumeration value="PartyingFace"/><!-- ðŸ¥³ U+1F973 -->
        <xs:enumeration value="StarStruck"/><!-- ðŸ¤© U+1F929 -->
        <xs:enumeration value="ThumbsUp"/><!-- ðŸ‘ U+1F44D -->
        <xs:enumeration value="ThumbsDown"/><!-- ðŸ‘Ž U+1F44E -->
        <xs:enumeration value="ClappingHands"/><!-- ðŸ‘ U+1F44F -->
        <xs:enumeration value="RaisingHands"/><!-- ðŸ™Œ U+1F64C -->
        <xs:enumeration value="FoldedHands"/><!-- ðŸ™ U+1F64F -->
        <xs:enumeration value="FlexedBiceps"/><!-- ðŸ’ª U+1F4AA -->
        <xs:enumeration value="WavingHand"/><!-- ðŸ‘‹ U+1F44B -->
        <xs:enumeration value="WritingHand"/><!-- âœï¸ U+270D -->
        <xs:enumeration value="LoveYouGesture"/><!-- ðŸ¤Ÿ U+1F91F -->
        <xs:enumeration value="RockOn"/><!-- ðŸ¤˜ U+1F918 -->
        <xs:enumeration value="OKHand"/><!-- ðŸ‘Œ U+1F44C -->
        <xs:enumeration value="FacePalm"/><!-- ðŸ¤¦ U+1F926 -->
        <xs:enumeration value="Shrug"/><!-- ðŸ¤· U+1F937 -->
        <xs:enumeration value="DancingWoman"/><!-- ðŸ’ƒ U+1F483 -->
        <xs:enumeration value="DancingMan"/><!-- ðŸ•º U+1F57A -->
        <xs:enumeration value="PersonRunning"/><!-- ðŸƒ U+1F3C3 -->
        <xs:enumeration value="PersonWalking"/><!-- ðŸš¶ U+1F6B6 -->
        <xs:enumeration value="Baby"/><!-- ðŸ‘¶ U+1F476 -->
        <xs:enumeration value="Boy"/><!-- ðŸ‘¦ U+1F466 -->
        <xs:enumeration value="Girl"/><!-- ðŸ‘§ U+1F467 -->
        <xs:enumeration value="Man"/><!-- ðŸ‘¨ U+1F468 -->
        <xs:enumeration value="Woman"/><!-- ðŸ‘© U+1F469 -->
        <xs:enumeration value="OlderMan"/><!-- ðŸ‘´ U+1F474 -->
        <xs:enumeration value="OlderWoman"/><!-- ðŸ‘µ U+1F475 -->
        <xs:enumeration value="PoliceOfficer"/><!-- ðŸ‘® U+1F46E -->
        <xs:enumeration value="ConstructionWorker"/><!-- ðŸ‘· U+1F477 -->
        <xs:enumeration value="Prince"/><!-- ðŸ¤´ U+1F934 -->
        <xs:enumeration value="Princess"/><!-- ðŸ‘¸ U+1F478 -->
      </xs:restriction>
    </xs:simpleType>
  
    <xs:complexType name="Result">
        <xs:sequence>
            <xs:element name="Code" type="reges:ResultCode" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="CodeType" type="reges:ResultCodeType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="Sign" type="reges:ResultSign" nillable="true" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="Ref" type="reges:GUID" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="SecRef" type="reges:GUID" minOccurs="0" maxOccurs="1"></xs:element>
          <xs:element name="RelatedResultsExpected" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageResult">
        <xs:annotation>
            <xs:documentation>Mesaj trimis asincron catre aplicatia client, pentru a semnaliza ca un mesaj a fost procesat cu un anumit cod de succes sau eroare</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="reges:MessageResponse">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Result" type="reges:Result"/>                    
                </xs:sequence>                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MessageResult" type="reges:MessageResult"/>
    <xs:complexType name="Notification">
        <xs:annotation>
            <xs:documentation>Mesaj trimis asincron catre aplicatia client, pentru a semnaliza o notificare</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element maxOccurs="1" minOccurs="1" name="NotificationId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="ClientApplication" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Version" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Type" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Description" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MessageId" type="reges:GUID"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Timestamp" type="xs:dateTime"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Notification" type="reges:Notification"/>

    <xs:complexType name="InfoAngajator">
        <xs:complexContent>
          <xs:extension base="reges:Info">
            <xs:sequence>
              <xs:element minOccurs="1" name="Adresa">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="256"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="Contact" nillable="true" type="reges:Contact"/>
              <xs:element minOccurs="1" name="Detalii" type="reges:DetaliiAngajator"/>
              <xs:element minOccurs="1" name="Localitate" type="reges:Localitate"/>
              <xs:element minOccurs="0" name="ConformL153" nillable="true" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    <xs:element name="InfoAngajator" type="reges:InfoAngajator"/>
  
    <xs:complexType name="Angajator">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                  <xs:element name="ReferintaAngajator" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="Info" type="reges:InfoAngajator"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Angajator" type="reges:Angajator"></xs:element>
  
    <xs:complexType name="Contact">
        <xs:sequence>
            <xs:element minOccurs="0" name="Email" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Fax" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ReprezentantLegal" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Telefon" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomeniuActivitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="Cod">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormaJuridicaPJ">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SocietateComerciala"/>
            <xs:enumeration value="RegieAutonoma"/>
            <xs:enumeration value="CompanieNationala"/>
            <xs:enumeration value="SocietateNationala"/>
            <xs:enumeration value="AutoritateInstitutiePublica"/>
            <xs:enumeration value="InstitutieDeCredit"/>
            <xs:enumeration value="SocietateCooperativa"/>
            <xs:enumeration value="OrganizatieSindicala"/>
            <xs:enumeration value="Fundatie"/>
            <xs:enumeration value="AltePersoaneJuridice"/>
            <xs:enumeration value="OrganizatiePatronala"/>
            <xs:enumeration value="OrganizatieAsociatieCuPersonalitateJuridica"/>
            <xs:enumeration value="ReprezentantaDinRomaniaPentruPJStraina"/>
            <xs:enumeration value="InstitutCulturalAlUnuiStat"/>
            <xs:enumeration value="ReprezentantaComercialaSiEconomicaAleAltuiStat"/>
            <xs:enumeration value="MisiuneDiplomatica"/>
            <xs:enumeration value="OficiuConsular"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaOrganizarePJ">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Agricola"/>
            <xs:enumeration value="AlteInstitutiiDeCredit"/>
            <xs:enumeration value="AlteOrganizatiiPatronale"/>
            <xs:enumeration value="AlteOrganizatiiSauAsociatiiCuPersonalitateJuridica"/>
            <xs:enumeration value="AsociatieDeProprietari"/>
            <xs:enumeration value="Banca"/>
            <xs:enumeration value="CaseDeEconomiiPentruDomeniulLocativ"/>
            <xs:enumeration value="ConfederatieSindicala"/>
            <xs:enumeration value="DeConsum"/>
            <xs:enumeration value="DeLocuinte"/>
            <xs:enumeration value="DeTransporturi"/>
            <xs:enumeration value="DeValorificare"/>
            <xs:enumeration value="Federatiepatronala"/>
            <xs:enumeration value="Federatiesindicala"/>
            <xs:enumeration value="Forestiere"/>
            <xs:enumeration value="InstitutiiEmitenteDeMonedaElectronica"/>
            <xs:enumeration value="Mestesugareasca"/>
            <xs:enumeration value="OrganizatieCooperatistaDeCredit"/>
            <xs:enumeration value="OrganizatieSauAsociatieProfesionala"/>
            <xs:enumeration value="Patronat"/>
            <xs:enumeration value="Pescaresti"/>
            <xs:enumeration value="Sindicat"/>
            <xs:enumeration value="SocietateCuRaspundereLimitata"/>
            <xs:enumeration value="SocietateCuRaspundereLimitataDebutant"/>
            <xs:enumeration value="SocietateInComanditaPeActiuni"/>
            <xs:enumeration value="SocietateInComanditaSimpla"/>
            <xs:enumeration value="SocietateInNumeColectiv"/>
            <xs:enumeration value="SocietatePeActiuni"/>
            <xs:enumeration value="Sucursalaauneiinstitutiidecreditstraina"/>
            <xs:enumeration value="UniunePatronala"/>
            <xs:enumeration value="UniuneSindicala"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaProprietate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Stat"/>
            <xs:enumeration value="Privata"/>
            <xs:enumeration value="Mixta"/>
            <xs:enumeration value="Cooperatista"/>
            <xs:enumeration value="Obsteasca"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NivelInfiintare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SediuSocial"/>
            <xs:enumeration value="Filiala"/>
            <xs:enumeration value="Sucursala"/>
        </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="NivelStudii">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Superioare"/>
      <xs:enumeration value="StudiiDeScurtaDurata"/>
      <xs:enumeration value="Medii"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="G"/>
      <xs:enumeration value="SSiLicenta"/>
      <xs:enumeration value="MSiLicenta"/>
      <xs:enumeration value="MSiLicentaSauScoalaProfesionalaSiLicenta"/>
      <xs:enumeration value="ScoalaProfesioanalaSiLicenta"/>
      <xs:enumeration value="ScoalaMaistriSiLicenta"/>
      <xs:enumeration value="MSiCursDeCalificare"/>
      <xs:enumeration value="MSiCursDeCalificareSiLicenta"/>
      <xs:enumeration value="AltNivelDeStudii"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="PLM"/>
      <xs:enumeration value="MG"/>
    </xs:restriction>
  </xs:simpleType>
  
    <xs:simpleType name="ActIdentitatePF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cnp"/>
            <xs:enumeration value="CnpCif"/>
            <xs:enumeration value="Pasaport"/>
            <xs:enumeration value="PasaportCif"/>
            <xs:enumeration value="PasaportActIdentitate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaJuridicaPF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PF"/>
            <xs:enumeration value="PFA"/>
            <xs:enumeration value="IF"/>
            <xs:enumeration value="ProfesieSpeciala"/>
            <xs:enumeration value="IPF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormaOrganizarePF">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Arhitect"/>
            <xs:enumeration value="AsistentMedical"/>
            <xs:enumeration value="AuditorFinanciar"/>
            <xs:enumeration value="Avocat"/>
            <xs:enumeration value="ConsilierProprietateIndustriala"/>
            <xs:enumeration value="ConsultantFiscal"/>
            <xs:enumeration value="ExecutorJudecatoresc"/>
            <xs:enumeration value="ExpertContabil"/>
            <xs:enumeration value="ExpertVamal"/>
            <xs:enumeration value="Farmacist"/>
            <xs:enumeration value="Medic"/>
            <xs:enumeration value="MedicVeterinar"/>
            <xs:enumeration value="NotarPublic"/>
            <xs:enumeration value="Psiholog"/>
            <xs:enumeration value="TraducatorAutorizat"/>
            <xs:enumeration value="LichidatorJudiciar"/>
            <xs:enumeration value="AltePersoaneFizice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Nationalitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Localitate">
        <xs:sequence>
            <xs:element minOccurs="1" name="CodSiruta" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajator">
        <xs:sequence>
            <xs:element minOccurs="0" name="DomeniuActivitate" nillable="true"
                type="reges:DomeniuActivitate"/>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajatorPersoanaJuridica">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:DetaliiAngajator">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Cui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CuiParinte" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="FormaJuridicaPJ" type="reges:FormaJuridicaPJ"/>
                    <xs:element minOccurs="0" name="FormaOrganizarePJ" nillable="true"
                        type="reges:FormaOrganizarePJ"/>
                    <xs:element minOccurs="0" name="FormaProprietate" nillable="true"
                        type="reges:FormaProprietate"/>
                    <xs:element minOccurs="0" name="NivelInfiintare" nillable="true"
                        type="reges:NivelInfiintare"/>
                    <xs:element minOccurs="0" name="NumeParinte" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DetaliiAngajatorPersoanaFizica">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:DetaliiAngajator">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ActIdentitatePF" type="reges:ActIdentitatePF"/>
                    <xs:element minOccurs="1" name="Cnp">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="FormaJuridicaPF" type="reges:FormaJuridicaPF"/>
                    <xs:element minOccurs="0" name="FormaOrganizarePF" nillable="true"
                        type="reges:FormaOrganizarePF"/>
                    <xs:element minOccurs="1" name="Nationalitate" type="reges:Nationalitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfoSalariat">
      <xs:complexContent>
        <xs:extension base="reges:Info">
          <xs:sequence>
            <xs:element minOccurs="1" name="Adresa">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Apatrid" nillable="true" type="reges:Apatrid"/>
            <xs:element minOccurs="1" name="Cnp">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CnpVechi" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DetaliiSalariatStrain" nillable="true"
                type="reges:DetaliiSalariatStrain"/>
            <xs:element minOccurs="0" name="Localitate" nillable="true" type="reges:Localitate"/>
            <xs:element minOccurs="0" name="LocalitateSalariatStrain" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Mentiuni" nillable="true">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Nationalitate" nillable="true"
                type="reges:Nationalitate"/>
            <xs:element minOccurs="1" name="Nume">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="Prenume">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DataNastere" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="1" name="TaraDomiciliu" type="reges:Nationalitate"/>
            <xs:element minOccurs="1" name="TipActIdentitate" type="reges:TipActIdentitate"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Radiat" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="MotivRadiere" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipHandicap" type="reges:TipHandicap"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="GradHandicap" type="reges:GradHandicap"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="GradInvaliditate" type="reges:GradInvaliditate"/>
            <xs:element minOccurs="0" name="DataCertificatHandicap" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="NumarCertificatHandicap" type="xs:string"/>
            <xs:element minOccurs="0" name="DataValabilitateCertificatHandicap" nillable="true" type="xs:dateTime"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:element name="InfoSalariat" type="reges:InfoSalariat"/>
  
    <xs:complexType name="Salariat">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                  <xs:element name="ReferintaSalariat" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="Info" type="reges:InfoSalariat"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Salariat" type="reges:Salariat"></xs:element>
  
    <xs:simpleType name="Apatrid">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FaraDreptDeSedereInUe"/>
            <xs:enumeration value="CuDreptDeSedereInUe"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipAutorizatie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LucratoriPermanenti"/>
            <xs:enumeration value="Exceptie"/>
            <xs:enumeration value="LucratoriSezonieri"/>
            <xs:enumeration value="LucratoriStagiari"/>
            <xs:enumeration value="Sportivi"/>
            <xs:enumeration value="Nominala"/>
            <xs:enumeration value="LucratoriTransfrontalieri"/>
            <xs:enumeration value="LucratorInaltCalificat"/>
            <xs:enumeration value="LucratoriAuPair"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipAutorizatieExceptie">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Art32LiteraA"/>
        <xs:enumeration value="Art32LiteraB"/>
        <xs:enumeration value="Art32LiteraC"/>
        <xs:enumeration value="Art32LiteraD"/>
        <xs:enumeration value="Art32LiteraE"/>
        <xs:enumeration value="Art32LiteraF"/>
        <xs:enumeration value="Art32LiteraG"/>
        <xs:enumeration value="Art32LiteraH"/>
        <xs:enumeration value="Art32LiteraI"/>
        <xs:enumeration value="Art32LiteraJ"/>
        <xs:enumeration value="Art32LiteraK"/>
        <xs:enumeration value="Art32LiteraL"/>
        <xs:enumeration value="Art32LiteraM"/>
        <xs:enumeration value="Art32LiteraN"/>
        <xs:enumeration value="Art32LiteraO"/>
        <xs:enumeration value="Art32LiteraP"/>
        <xs:enumeration value="Art32LiteraQ"/>
        <xs:enumeration value="Art32LiteraR"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipActIdentitate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CarteIdentitate"/>
            <xs:enumeration value="Pasaport"/>
            <xs:enumeration value="BuletinIdentitate"/>
            <xs:enumeration value="Alt"/>
            <xs:enumeration value="CarteDeRezidenta"/>
            <xs:enumeration value="PermisDeSedere"/>
            <xs:enumeration value="AltActIdentitateRomanesc"/>
            <xs:enumeration value="AltApatridTolerat"/>
            <xs:enumeration value="NIF"/>
            <xs:enumeration value="CertificatInregistrare"/>
            <xs:enumeration value="PasaportBeneficiarProtectieInternationala"/>
            <xs:enumeration value="AvizDeAngajare"/>
            <xs:enumeration value="DocumentDeIdentitatetemporara"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contract">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element name="Actiune" type="reges:Actiune" minOccurs="0"/>
                    <xs:sequence>
                        <xs:element name="ReferintaContract" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>                
                        <xs:element name="Continut" type="reges:ContinutContract" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="DocumentJustificativ" type="reges:DocumentJustificativ" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Contract" type="reges:Contract"></xs:element>
    
    <xs:complexType name="Referinta">
        <xs:complexContent>
            <xs:extension base="reges:Info">
                <xs:sequence>
                    <xs:element name="Id" type="reges:GUID"/>   
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ContinutContract">
        <xs:complexContent>
            <xs:extension base="reges:Info">
                <xs:sequence>
                    <xs:element name="ReferintaSalariat" type="reges:Referinta"/>
                    <xs:element minOccurs="1" name="Cor" type="reges:Cor"/>
                    <xs:element minOccurs="1" name="DataConsemnare" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="DataContract" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="DataInceputContract" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataSfarsitContract" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DateContractVechi" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Detalii" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DetaliiMutare" nillable="true"
                        type="reges:ContractMutareDetalii"/>
                    <xs:element minOccurs="0" name="ExceptieDataSfarsit" nillable="true"
                        type="reges:ExceptieDataSfarsit"/>
                    <xs:element minOccurs="1" name="NumarContract">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NumereContractVechi" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="Radiat" type="xs:boolean"/>
                    <xs:element name="MotivRadiere" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element minOccurs="1" name="Salariu" type="xs:int"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="SalariuValuta" type="xs:int"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="Moneda" type="reges:Moneda"/>
                    <xs:element minOccurs="0" name="SporuriSalariu" nillable="true" type="reges:ArrayOfSpor"/>
                    <xs:element minOccurs="1" name="StareCurenta" type="reges:Actiune"/>
                    <xs:element minOccurs="1" name="TimpMunca" type="reges:TimpMunca"/>
                    <xs:element minOccurs="1" name="TipContract" type="reges:TipContract"/>
                    <xs:element minOccurs="1" name="TipDurata" type="reges:TipDurata"/>
                    <xs:element minOccurs="1" name="TipNorma" type="reges:TipNorma"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipLocMunca" type="reges:TipLocMunca"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="JudetLocMunca" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="LocalitateLocMunca" type="reges:Localitate"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="NivelStudii" type="reges:NivelStudii"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="AplicaL153" type="xs:boolean"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="DetaliiL153" type="reges:DetaliiL153"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipHandicap" type="reges:TipHandicap"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="GradHandicap" type="reges:GradHandicap"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="GradInvaliditate" type="reges:GradInvaliditate"/>
                    <xs:element minOccurs="0" name="DataCertificatHandicap" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="NumarCertificatHandicap" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataValabilitateCertificatHandicap" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DetaliiL153">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AnexaL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="CapitolL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="LiteraL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ClasificareSuplimentaraL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="FunctieL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="SpecialitateFunctieL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="StructuraAprobataL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="SpecialitateStructuraAprobataL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="GradProfesionalL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="GradatieL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="DenumireAltaFunctieL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="ExplicatieFunctieL153" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="AltGradProfesionalL153" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DocumentJustificativ">
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TipDocumentJustificativ" type="reges:TipDocumentJustificativ"/>
        <xs:element minOccurs="1" maxOccurs="1" name="NumarDocumentJustificativ" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DataDocumentJustificativ" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StarePropunere">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Propus"/>
        <xs:enumeration value="Acceptat"/>
        <xs:enumeration value="Respins"/>
      </xs:restriction>
    </xs:simpleType>

  <xs:complexType name="PropunereDetasareContract">
      <xs:complexContent>
        <xs:extension base="reges:Message">
          <xs:sequence>
            <xs:sequence>
              <xs:element name="Referinta" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ReferintaContract" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
              <xs:element name="TemeiDetasare" type="reges:TemeiDetasare" minOccurs="0" nillable="true" maxOccurs="1"/>
              <xs:element name="CUIAngajatorDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NumeAngajatorDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NationalitateAngajatorDestinatie" type="reges:Nationalitate" minOccurs="0" maxOccurs="1" />
              <xs:element name="CUIAngajatorSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NumeAngajatorSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ContinutContract" type="reges:ContinutContract" minOccurs="0" maxOccurs="1"/>
              <xs:element name="InfoSalariat" type="reges:InfoSalariat" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataPropunere" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NoteSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NoteDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataInceput" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataSfarsit" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataIncetare" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:element name="PropunereDetasareContract" type="reges:PropunereDetasareContract"></xs:element>

    <xs:complexType name="PropunereMutareContract">
      <xs:complexContent>
        <xs:extension base="reges:Message">
          <xs:sequence>
            <xs:sequence>
              <xs:element name="Referinta" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ReferintaContract" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
              <xs:element name="TipMutare" type="reges:TipMutare" minOccurs="0" nillable="true" maxOccurs="1"/>
              <xs:element name="TipTransfer" type="reges:TipTransfer" minOccurs="0" nillable="true" maxOccurs="1"/>
              <xs:element name="CUIAngajatorDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NumeAngajatorDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NationalitateAngajatorDestinatie" type="reges:Nationalitate" minOccurs="0" maxOccurs="1" />
              <xs:element name="CUIAngajatorSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NumeAngajatorSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="ContinutContract" type="reges:ContinutContract" minOccurs="0" maxOccurs="1"/>
              <xs:element name="InfoSalariat" type="reges:InfoSalariat" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataPropunere" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NoteSursa" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="NoteDestinatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataInceput" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataSfarsit" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
              <xs:element name="DataIncetare" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:element name="PropunereMutareContract" type="reges:PropunereMutareContract"></xs:element>  
  
    <xs:complexType name="Cor">
        <xs:sequence>
            <xs:element minOccurs="1" name="Cod" type="xs:int"/>
            <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TipMutare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Transfer"/>
            <xs:enumeration value="SchimbareLocMunca"/>
            <xs:enumeration value="SchimbareGestiuneRegistru"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipTransfer">
      <xs:restriction base="xs:string">
        <xs:enumeration value="TransferDeIntreprindere"/>
        <xs:enumeration value="TransferIndividual"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExceptieDataSfarsit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art83LitA"/>
            <xs:enumeration value="Art83LitE"/>
            <xs:enumeration value="Art83LitH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TipSpor">
        <xs:sequence>
            <xs:element name="Referinta" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
            <xs:element minOccurs="1" name="Nume">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TipSporAngajator">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:TipSpor">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TipSporPredefinit">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:TipSpor">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Versiune" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="TemeiIncetare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art55LitB"/>
            <xs:enumeration value="Art56Alin1LitA"/>
            <xs:enumeration value="Art56Alin1LitB"/>
            <xs:enumeration value="Art56Alin1LitC"/>
            <xs:enumeration value="Art56Alin1LitD"/>
            <xs:enumeration value="Art56Alin1LitE"/>
            <xs:enumeration value="Art56Alin1LitF"/>
            <xs:enumeration value="Art56Alin1LitG"/>
            <xs:enumeration value="Art56Alin1LitH"/>
            <xs:enumeration value="Art56Alin1LitI"/>
            <xs:enumeration value="Art56Alin1LitJ"/>
            <xs:enumeration value="Art61LitA"/>
            <xs:enumeration value="Art61LitB"/>
            <xs:enumeration value="Art61LitC"/>
            <xs:enumeration value="Art61LitD"/>
            <xs:enumeration value="Art65Alin1"/>
            <xs:enumeration value="Art68"/>
            <xs:enumeration value="Art81Alin1"/>
            <xs:enumeration value="Art81Alin7"/>
            <xs:enumeration value="Art81Alin8"/>
            <xs:enumeration value="Art31Alin3"/>
            <xs:enumeration value="HJ"/>
            <xs:enumeration value="NulitateContract"/>
            <xs:enumeration value="AltTemei"/>
            <xs:enumeration value="Art50LitH"/>
            <xs:enumeration value="Art95Alin4"/>
            <xs:enumeration value="L448Art39Alin4"/>
            <xs:enumeration value="Art80Alin3"/>
			<xs:enumeration value="Fara"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TemeiSuspendare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Art54"/>
            <xs:enumeration value="Art50LiteraD"/>
            <xs:enumeration value="Art50LiteraE"/>
            <xs:enumeration value="Art50LiteraF"/>
            <xs:enumeration value="Art50LiteraG"/>
            <xs:enumeration value="Art50LiteraH"/>
            <xs:enumeration value="Art50LiteraI"/>
            <xs:enumeration value="Art51Alin1LiteraA"/>
            <xs:enumeration value="Art51Alin1LiteraB"/>
            <xs:enumeration value="Art51Alin1LiteraC"/>
            <xs:enumeration value="Art51Alin1LiteraD"/>
            <xs:enumeration value="Art51Alin1LiteraE"/>
            <xs:enumeration value="Art51Alin1LiteraF"/>
            <xs:enumeration value="Art51Alin2"/>
            <xs:enumeration value="Art52Alin1LiteraA"/>
            <xs:enumeration value="Art52Alin1LiteraB"/>
            <xs:enumeration value="Art52Alin1LiteraC"/>
            <xs:enumeration value="Art52Alin1LiteraD"/>
            <xs:enumeration value="Art52Alin1LiteraE"/>
            <xs:enumeration value="Art52Alin3"/>
            <xs:enumeration value="Art6Alin1"/>
            <xs:enumeration value="Art52Alin1LiteraC1"/>
            <xs:enumeration value="Art50LiteraC"/>
            <xs:enumeration value="Art51Alin1LiteraG"/>
            <xs:enumeration value="Art11Alin2"/>
            <xs:enumeration value="Art31Alin1"/>
            <xs:enumeration value="Art50LiteraA"/>
            <xs:enumeration value="Art50LiteraB"/>
			<xs:enumeration value="Fara"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TemeiReactivare">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Reintegrare"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TemeiDetasare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Transnationala"/>
            <xs:enumeration value="CodulMuncii"/>
            <xs:enumeration value="MuncaTemporara"/>
			<xs:enumeration value="Fara"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TimpMunca">
        <xs:sequence>
            <xs:element minOccurs="0" name="Durata" nillable="true" type="xs:double"/>
            <xs:element minOccurs="0" name="IntervalTimp" nillable="true"
                type="reges:RepartizareIntervalTimp"/>
            <xs:element minOccurs="1" name="Norma" type="reges:NormaTimpMunca"/>
            <xs:element minOccurs="1" name="Repartizare" type="reges:RepartizareTimpMunca"/>
            <xs:element minOccurs="0" name="TipTura" nillable="true" type="reges:TipTura"/>
            <xs:element minOccurs="0" maxOccurs="1" name="ObservatiiTipTuraAlta" type="xs:string" />
            <xs:element minOccurs="0" name="RepartizareMunca" nillable="true" type="reges:RepartizareMunca"/>
            <xs:element minOccurs="0" maxOccurs="1" name="NotaRepartizareMunca" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="7" name="ZileSaptamana" type="reges:ZiSaptamana"/>
            <xs:element minOccurs="0" nillable="true" name="InceputInterval" type="xs:dateTime"/>
            <xs:element minOccurs="0" nillable="true" name="SfarsitInterval" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RepartizareIntervalTimp">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OrePeZi"/>
            <xs:enumeration value="OrePeSaptamana"/>
            <xs:enumeration value="OrePeLuna"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NormaTimpMunca">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NormaIntreaga840"/>
            <xs:enumeration value="NormaIntreaga630"/>
            <xs:enumeration value="NormaIntreagaLegiSpeciale"/>
            <xs:enumeration value="TimpPartial"/>
            <xs:enumeration value="TimpOUG132"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepartizareTimpMunca">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OreDeZi"/>
            <xs:enumeration value="OreDeNoapte"/>
            <xs:enumeration value="Inegal">
              <xs:annotation>
                <xs:documentation>AceastÄƒ opÈ›iune este echivalentul OreDeziSiNoapte. Este pÄƒstratÄƒ valoarea Inegal pentru backward compatibility cu sistemul Revisal</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OreInRepaos"/>
            <xs:enumeration value="OreZiSiRepaos"/>
            <xs:enumeration value="OreNoapteSiRepaos"/>
            <xs:enumeration value="OreZiNoapteSiRepaos"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipTura">
      <xs:restriction base="xs:string">
        <xs:enumeration value="T12_24"/>
        <xs:enumeration value="T12_48"/>
        <xs:enumeration value="T12_72"/>
        <xs:enumeration value="Alta"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RepartizareMunca">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Zilnic"/>
        <xs:enumeration value="Inegal"/>
        <xs:enumeration value="Schimburi"/>
        <xs:enumeration value="Flexibil"/>
        <xs:enumeration value="Individualizat"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ZiSaptamana">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Luni"/>
        <xs:enumeration value="Marti"/>
        <xs:enumeration value="Miercuri"/>
        <xs:enumeration value="Joi"/>
        <xs:enumeration value="Vineri"/>
        <xs:enumeration value="Sambata"/>
        <xs:enumeration value="Duminica"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Moneda">
      <xs:restriction base="xs:string">
        <xs:enumeration value="RON"/>
        <xs:enumeration value="EUR"/>
        <xs:enumeration value="USD"/>
      </xs:restriction>
    </xs:simpleType>  
    <xs:simpleType name="TipContract">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ContractIndividualMunca"/>
            <xs:enumeration value="ContractUcenicie"/>
            <xs:enumeration value="ContractMuncaLaDomiciliu"/>
            <xs:enumeration value="ContractMuncaTemporara"/>
            <xs:enumeration value="ContractIndividualMuncaTineriDezavantajati"/>
            <xs:enumeration value="ContractIndividualMuncaClauzaTelemunca"/>
            <xs:enumeration value="ContractMuncaTemporaraClauzaTelemunca"/>
            <xs:enumeration value="DecizieDetasare"/>
            <xs:enumeration value="ContractIndividualMuncaPlataCuOra"/>
            <xs:enumeration value="RaportDeServiciu"/>
            <xs:enumeration value="RaportDeServiciuCuStatutSpecial"/>
            <xs:enumeration value="ContractDeManagement"/>
            <xs:enumeration value="ContractDeMuncaPentruGarzi"/>
            <xs:enumeration value="ContractDeActivitateSportiva"/>
            <xs:enumeration value="ActAdministrativDemnitar"/>
            <xs:enumeration value="ContractConsilierPersonalDemnitar"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipDocumentJustificativ">
      <xs:restriction base="xs:string">
        <xs:enumeration value="HotarareJudecatoreasca"/>
        <xs:enumeration value="ActAditional"/>
        <xs:enumeration value="Decizie"/>
        <xs:enumeration value="Ordin"/>
        <xs:enumeration value="Nota"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipDurata">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Nedeterminata"/>
            <xs:enumeration value="Determinata"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipNorma">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NormaIntreaga"/>
            <xs:enumeration value="TimpPartial"/>
            <xs:enumeration value="NormaOUG132"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GradHandicap">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Fara"/>
        <xs:enumeration value="Usor"/>
        <xs:enumeration value="Mediu"/>
        <xs:enumeration value="Accentuat"/>
        <xs:enumeration value="Grav"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GradInvaliditate">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Fara"/>
        <xs:enumeration value="Grad1"/>
        <xs:enumeration value="Grad2"/>
        <xs:enumeration value="Grad3"/>
      </xs:restriction>
    </xs:simpleType>  
    <xs:simpleType name="TipHandicap">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Fara"/>
        <xs:enumeration value="Fizic"/>
        <xs:enumeration value="Vizual"/>
        <xs:enumeration value="Auditiv"/>
        <xs:enumeration value="Surdocecitate"/>
        <xs:enumeration value="Somatic"/>
        <xs:enumeration value="Mintal"/>
        <xs:enumeration value="Psihic"/>
        <xs:enumeration value="HIVSIDA"/>
        <xs:enumeration value="Asociat"/>
        <xs:enumeration value="BoliRare"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContractMutareDetalii">
        <xs:sequence>
            <xs:element minOccurs="1" name="AngajatorSursaCui">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="AngajatorSursaDenumire">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="DataImport" type="xs:dateTime"/>
            <xs:element minOccurs="1" name="TipMutare" type="reges:TipMutare"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipTransfer" type="reges:TipTransfer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfSpor">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Spor" type="reges:Spor"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Spor">
        <xs:sequence>
            <xs:element name="ReferintaSpor" type="reges:Referinta" minOccurs="0" maxOccurs="1"/>
            <xs:element minOccurs="0" name="IsProcent" type="xs:boolean"/>
            <xs:element minOccurs="1" name="Tip" type="reges:TipSpor"/>
            <xs:element minOccurs="1" name="Valoare" type="xs:double"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="ValoareValuta" type="xs:double"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="Moneda" type="reges:Moneda"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Actiune">
        <xs:sequence>
            <xs:element minOccurs="0" name="DataIncetareDetasare" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DataIncetareSuspendare" nillable="true"
                type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActiuneMutare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="AngajatorCui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="AngajatorNume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="DataMutare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="TemeiLegal" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TipMutare" type="reges:TipMutare"/>
                    <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipTransfer" type="reges:TipTransfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneReactivare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:ActiuneActiv">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataReactivare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiReactivare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneActiv">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneSuspendare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataInceput" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataIncetare" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataSfarsit" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiSuspendare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneIncetare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                    <xs:element minOccurs="1" name="DataIncetare" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Explicatie" nillable="true">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="1024"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="TemeiLegal" type="reges:TemeiIncetare"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ActiuneDetasare">
        <xs:complexContent mixed="false">
            <xs:extension base="reges:Actiune">
                <xs:sequence>
                  <xs:element minOccurs="1" name="TemeiDetasare" type="reges:TemeiDetasare"/>
                    <xs:element minOccurs="1" name="AngajatorCui">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="AngajatorNume">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="256"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="Cor" type="reges:Cor"/>
                    <xs:element minOccurs="1" name="DataInceput" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataIncetare" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="DataSfarsit" type="xs:dateTime"/>
                    <xs:element minOccurs="1" name="Nationalitate" type="reges:Nationalitate"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DetaliiSalariatStrain">
        <xs:sequence>
            <xs:element minOccurs="0" name="DataInceputAutorizatie" nillable="true"
                type="xs:dateTime"/>
            <xs:element minOccurs="0" name="DataSfarsitAutorizatie" nillable="true"
                type="xs:dateTime"/>
            <xs:element minOccurs="1" name="TipAutorizatie" type="reges:TipAutorizatie"/>
            <xs:element minOccurs="0" maxOccurs="1" nillable="true" name="TipAutorizatieExceptie" type="reges:TipAutorizatieExceptie"/>
            <xs:element name="NumarAutorizatie" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Info">
    </xs:complexType>
    <xs:element name="Info" type="reges:Info"/>

    <xs:complexType name="Message">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Header" type="reges:Header"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Message" type="reges:Message"/>

    <xs:simpleType name="TipIdentificare">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CIF"/>
            <xs:enumeration value="CNP"/>
            <xs:enumeration value="Alta"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipCalitate">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Reprezentant legal"/>
            <xs:enumeration value="Imputernicit"/>
            <xs:enumeration value="Alta"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TipLocMunca">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Fix"/>
        <xs:enumeration value="Mobil"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Fisier">
            <xs:sequence>
                <xs:element name="Nume" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Tip" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Id" type="reges:GUID" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="CerereAccesRegistru">
        <xs:complexContent>
            <xs:extension base="reges:Message">
                <xs:sequence>
                    <xs:element name="Calitate" type="reges:TipCalitate" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Identificare" type="reges:TipIdentificare" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Numar" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Declaratie" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Fisier" type="reges:Fisier" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="InfoAngajator" minOccurs="0" type="reges:InfoAngajator"/>
                    <xs:element name="Utilizator" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Parola" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ParolaNoua" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
  <xs:element name="CerereAccesRegistru" type="reges:CerereAccesRegistru"></xs:element>


  <xs:complexType name="DreptAccesRegistru">
    <xs:complexContent>
      <xs:extension base="reges:Message">
        <xs:sequence>
          <xs:element name="Numar" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DreptAccesRegistru" type="reges:DreptAccesRegistru"></xs:element>

  <xs:complexType name="IncetareAccesRegistru">
    <xs:complexContent>
      <xs:extension base="reges:Message">
        <xs:sequence>
          <xs:element name="CifCnp" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="CifCnpDelegat" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="DataIncetare" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IncetareAccesRegistru" type="reges:IncetareAccesRegistru"></xs:element>

  <xs:simpleType name="TipSistemExtern">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROEID"/>
      <xs:enumeration value="EIDAS"/>
      <xs:enumeration value="Certificat"/>
      <xs:enumeration value="Ghiseu"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CerereAccesCont">
    <xs:complexContent>
      <xs:extension base="reges:Message">
        <xs:sequence>
          <xs:element minOccurs="1" name="TipActIdentitate" type="reges:TipActIdentitate"/>
          <xs:element name="NumarDocument" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="DataNastere" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
          <xs:element name="Declaratie" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="Fisier" type="reges:Fisier" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element name="Judet" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="TipSistemExtern" minOccurs="0" maxOccurs="1" nillable="true" type="reges:TipSistemExtern"/>
          <xs:element name="Nume" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="Prenume" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CerereAccesCont" type="reges:CerereAccesCont"></xs:element>  

    <xs:simpleType name="TipDelegat">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Prestator"/>
        <xs:enumeration value="Angajat"/>
        <xs:enumeration value="ReprezentantLegalPrestator"/>
        <xs:enumeration value="AngajatPrestator"/>
        <xs:enumeration value="DirectorHR"/>
      </xs:restriction>
    </xs:simpleType>
  
    <xs:complexType name="CerereDelegareAccesRegistru">
      <xs:complexContent>
        <xs:extension base="reges:Message">
          <xs:sequence>
            <xs:element name="Calitate" type="reges:TipCalitate" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Identificare" type="reges:TipIdentificare" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Numar" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Delegat" type="reges:TipDelegat" minOccurs="1" maxOccurs="1"/>
            <xs:element name="NumarDelegat" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Declaratie" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Mentiuni" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DataInceput" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DataSfarsit" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NumarContract" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DataContract" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  <xs:element name="CerereDelegareAccesRegistru" type="reges:CerereDelegareAccesRegistru"></xs:element>

  <xs:simpleType name="TipCerere">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExtrasRegistru"/>
      <xs:enumeration value="AdeverintaVechime"/>
      <xs:enumeration value="CerereExtrasSalariatAngajator"/>
      <xs:enumeration value="CerereExtrasAngajator"/>
      <xs:enumeration value="CerereExtrasSalariatAngajatorContract"/>
      <xs:enumeration value="RaportSalariatiAngajator"/>
      <xs:enumeration value="RaportJurnal"/>
      <xs:enumeration value="RaportCentralizator"/>
      <xs:enumeration value="RaportIncetari"/>
      <xs:enumeration value="RaportContracteSalariat"/>
      <xs:enumeration value="RaportConformitate"/>
	  <xs:enumeration value="RaportContracteSalariatHg161"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FormatExtras">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF"/>
      <xs:enumeration value="EXCELOPENXML"/>
      <xs:enumeration value="WORDOPENXML"/>
      <xs:enumeration value="CSV"/>
      <xs:enumeration value="XML"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CerereExtras">
    <xs:complexContent>
      <xs:extension base="reges:Message">
        <xs:sequence>
          <xs:element name="TipCerere" type="reges:TipCerere" minOccurs="1" maxOccurs="1"/>
          <xs:element name="SalariatId" type="reges:GUID" minOccurs="0" maxOccurs="1"/>
          <xs:element name="CNP" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AngajatorId" type="reges:GUID" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Societate" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="ContractId" type="reges:GUID" minOccurs="0" maxOccurs="1" />
          <xs:element name="DataInceput" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
          <xs:element name="DataSfarsit" nillable="true" type="xs:date" minOccurs="0" maxOccurs="1"/>
          <xs:element name="NumarZile" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AreInfoSalariu" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Declaratie" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="FormatExtras" type="reges:FormatExtras" nillable="true" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Sign" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
	      <xs:element name="HideSalary" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CerereExtras" type="reges:CerereExtras"></xs:element>

  <xs:simpleType name="Entitate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Salariat"/>
      <xs:enumeration value="Contract"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FormatExport">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JSON"/>
      <xs:enumeration value="XML"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ExportDate">
    <xs:complexContent>
      <xs:extension base="reges:Message">
        <xs:sequence>
          <xs:element name="Entitate" type="reges:Entitate" minOccurs="1" maxOccurs="1"/>
          <xs:element name="FormatExport" type="reges:FormatExport" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportDate" type="reges:ExportDate"></xs:element>
  
  <xs:complexType name="Batch">
        <xs:sequence>
            <xs:element type="reges:Message" name="Message" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Batch" type="reges:Batch"/>
  
</xs:schema>
